@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;600&display=swap');

:root {
  --primary-color: rgba(0, 50, 150, 1);
  --primary-light-color: #0080FF;
  --transparent-white: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

/* -- Default elements -- */

header {
  background: var(--primary-color) url(../public/shapelined-_JBKdviweXI-unsplash.jpg) no-repeat top/cover;
  background-blend-mode: multiply;
  color: white;
  padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

nav {
  background-color: var(--primary-light-color);
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

section {
  overflow: scroll;
}

/* -- Classes -- */

.listItem {
  display: grid;
  border-bottom: 1px solid var(--primary-light-color);
  grid-template-columns: 15% auto 15%;
  padding: 1.5rem 0;
  min-height: 3rem;
  align-items: center;
}

.inputTask {
  border: none;
  border-bottom: 1px solid transparent;
  background-color: transparent;
  color: white;
  flex-grow: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.inputTask:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.inputTask::placeholder {
  color: white;
}

.headerIcon {
  cursor: pointer;
  font-size: 2rem;
  display: flex;
  align-content: bottom;
}

.menuIcons {
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  display: flex;
  align-content: center;
}

.listIcons {
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.25rem;
  display: flex;
  align-content: center;
  justify-self: center;
}

/* -- Typography -- */

h2 {
  font-weight: 400;
  font-size: 1rem;
  color: var(--transparent-white);
}

/* -- Media Queries -- */
